.lj-hd {
  @include txtStyle($color-b, $fs-1, $fw-0);
  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }
}
.lj-subhd {
  @include txtStyle($color-t, $fs-2, $fw-3);
}
.lj-name {
  @include txtStyle($color-t, $fs-2, $fw-0);
  height: 44px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  text-align: start;
  line-height: 20px
}
.lj-rate {
  @include txtStyle($color-2, $fs-1, $fw-0);
}
.lj-heard {
  @include txtStyle($color-ft, $fs-1, $fw-0);
}
.lj-price {
  @include txtStyle($color-t, $fs-6, $fw-2);
  &:hover{
    cursor: pointer;
  }
}
.lj-prices {
  @include txtStyle($color-t, $fs-5, $fw-3);
}
.lj-main:hover .lj-name {
  @include txtHover($bg-1);
}
