.log {
  background-image: url(/src/img/fiverr-og-logo.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
}
.form-log {
  background-color: white;
  padding: 16px;
  width: 80vw;
  margin: auto;
  position: absolute;
  top: 18%;
  left: 25%;
  width: 50%;
}
.ant-form-item-control-input-content{
    width: 700px;
    flex: none;
    max-width: none;
}
.spanDN{
    color: black;
}
