//Color 
$color-w : #ffffff;
$color-b : #000000;
$color-t : #404145;
$color-0 : #b5b6ba;
$color-q : #003912;
$color-ft : #74767e;
$color-2 : #ffbe5b;
$color-3 : #446ee7;
//Background
$bg-0 : #fafafa;
$bg-1 : #1dbf73;
$bg-2 : #0a0a0a;
//Font size
$fs-0 : 48px;
$fs-1 : 14px;
$fs-2 : 16px;
$fs-3 : 32px;
$fs-4 : 20px;
$fs-5 : 18px;
$fs-6 : 12px;
$fs-7 : 28px;
$fs-8 : 24px;

//Font weight
$fw-0 : 500;
$fw-1 : 600;
$fw-2 : 700;
$fw-3 : 400;

//size
$pd-1: 14px;
$pd-2 : 30px;
$pd-3 : 16px;
$pd-4 : 2px;
