@media screen and (max-width: 1400px) {
  .sliderSearch-title {
    font-size: 40px;
  }
  .sliderSearch-popular {
    display: none !important;
  }
}

@media screen and (max-width: 1200px) {
  .sliderSearch-title {
    font-size: 32px;
  }
  .header-nav-input {
    display: none !important;
  }
  .proposition {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .proposition-img {
    width: 100%;
  }
  .proposition-right {
    padding: 0;
  }
  .voted {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .vote-box {
    padding: 0;
  }
  .vote-box-heading {
    font-size: 16px;
  }
  .vote-box-quote {
    font-size: 24px;
    line-height: 30px;
  }
  .sub-title:hover .subtypeJob {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .sliderSearch-sub {
    display: flex !important;
  }
  .slider-main,
  .sliderSearch {
    display: none !important;
  }
  .sliderSearch-title {
    font-size: 4vw;
  }
  .s-btn,
  .form-control {
    border-radius: 4px;
  }
  .modal-video::after {
    display: none;
  }
  .explore-box,
  .footer-box {
    width: 33.33%;
  }
  .footer-copyright {
    flex-direction: column;
  }
  .bookingJob-breakpoint {
    display: block !important;
    padding: 24px 0 164px 0;
  }
  .jobDetail-page {
    padding: 0;
  }
  .create-box{
    width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .sliderSearch-sub {
    height: 55vw;
  }
  .sliderSearch-sub-heading {
    padding: 0px 100px;
  }
  .header-submenu-scroll{
    overflow: scroll;
  }
  .header-nav-seller {
    display: none;
  }
  .login-wrapper{
    padding: 120px 16px;
  }
  .jobDetail-faq-content{
    overflow: scroll;
  }
  .bookingJob-breakpoint {
    display: block !important;
    padding: 24px 0 192px 0;
  }
  .create-box{
    width: 500px;
  }
  .create-subText{
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .sliderSearch-sub {
    height: 65vw;
  }
  .sliderSearch-title {
    font-size: 5vw;
  }
  .sliderSearch-sub-heading {
    padding: 0px 16px;
  }
  .trusted {
    display: none;
  }
  .explore-box,
  .footer-box {
    width: 50%;
  }
  .footer-copy {
    flex-direction: column;
  }
  .footer-social {
    justify-content: space-evenly;
  }
  .footer-social li {
    width: 20%;
  }
  .infoJob-switch-item {
    flex-direction: column;
  }
  .create-box{
    width: 100%;
  }

}

@media screen and(max-width:445px) {
  .bookingJob-breakpoint {
    padding-bottom: 284px;
  }
}