.ant-layout{
  background: #ffffff;
}
.ant-layout-header {
  height: 100%;
  background: transparent;
  /* z-index: 1080; */
  color: #ffffff;
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
  padding: 0;
}

/* React bootstrap */
.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  display: none;
}

.form-control{
  border-radius: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* React slick */
.slick-prev:before,.slick-next:before{
  color: #faad14 !important;
  font-size: 24px !important;
}